<div class="widgets">

  <div class="row">
    <div class="col-md-12">
        <uib-tabset active="$tabSetStatus.activeTab">
            <uib-tab heading="Unattended">
                <div ba-panel ba-panel-title="Unattended" ba-panel-class="with-scroll">
                    <div class="col-md-3 tabset-group" ng-repeat="data in unattended"
                                    ba-panel>
                        <div class="form-group"><img ng-src="data:image/png;base64,{{data.image_base}}" class="img-thumbnail" style="width: 100%; height: auto"></div>
                        <p>
                          <strong >Zone : </strong> {{data.zone}}
                         </p> 
                         <p>
                             <strong>Gender: </strong> {{data.gender}}
                                         </p> 
                                         <p>
                             <strong>Ethnicity: </strong> {{data.ethnicity}}
                                         </p> 
                         <p>
                             <strong>Year of Birth : </strong> {{data.yob}}
                         </p> 
                   </div>
                </div>
            </uib-tab>
            <uib-tab heading="Gallery Visit">
                <div ba-panel ba-panel-title="Gallery Visit" ba-panel-class="with-scroll">
                    <div class="col-md-3 tabset-group" ng-repeat="data1 in galleryvisit" ba-panel>

                          <div class="form-group"><img ng-src="data:image/png;base64,{{data1.image_base}}"  class="img-thumbnail" style="width: 100%; height: auto"></div>
                          <p>
                            <strong>Zone : </strong> {{data1.zone}}
                          </p> 
                          <p>
                            <strong>Gender: </strong>{{data1.gender}}
                          </p> 
                          <p>
                            <strong>Ethnicity: </strong>{{data1.ethnicity}}
                          </p> 
                          <p>
                            <strong>Year of Birth : </strong>{{data1.yob}}
                          </p> 
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
      
      </div>
    </div>
  </div>
</div>




