<div class="widgets">

    <div ba-panel ba-panel-title="Gallery Visitors" ba-panel-class="mail-panel" ng-app="BlurAdmin.pages.gallery" >
        <div class="mail-navigation-container" ng-class="{'expanded' : !tabCtrl.navigationCollapsed}">
                <div ng-app="BlurAdmin.pages.gallery" ng-controller="GalleryListCtrl">
                        <div ng-repeat="t in list" ui-sref-active="active" class="mail-navigation"
                                 ng-click="selectTab(t.galleryid)">
                          {{t.displayname}}
                        </div>
                </div>
        </div>
        <div class="side-message-navigation ng-scope expanded">
            <div class="add-row-editable-table mail-messages-control side-message-navigation-item">
                <button type="button" class="btn btn-info" data-toggle="modal" ng-app="BlurAdmin.pages.gallery" ng-controller="ModalsPageCtrl" ng-click="open('app/pages/gallery/galleryModal.html')"><i class="fa fa-plus"></i> Add Visitors</button>
            </div>
            <div class="messages">
		<table class="table  table-hover " ng-controller="GalleryCtrl">
                    <tr>
                        <td>Image</td>
                        <td>Case Id</td>
                        <td>Name</td>
                        <td>Property</td>
                        <td>Action</td>
                    </tr>
                    <tr ng-repeat="user in records" ng-init="i = $index; data = records">
                        <td>
                            <span data-ng-hide="editMode">
                                <img src="data:image/png;base64,{{user.image}}" width="50px" height="50px" />
                            </span>
                            <input type="file" data-ng-show="editMode" data-ng-model="user.image" data-ng-required onchange="angular.element(this).scope().uploadFile(this.files)" class="editable-input form-control ng-pristine"/>
                        </td>
                        <td>
                            <span data-ng-hide="editMode">{{user.caseID}}</span>
                            <input type="text" data-ng-show="editMode" data-ng-model="user.caseID" data-ng-required class="editable-input form-control ng-pristine" />
                        </td>
                        <td>
                            <span data-ng-hide="editMode">{{user.name }}</span>
                            <input type="text" data-ng-show="editMode" data-ng-model="user.name" data-ng-required class="editable-input form-control ng-pristine" />
                        </td>
                        <td>
                            <span data-ng-hide="editMode">{{user.property }}</span>
                            <input type="text" data-ng-show="editMode" data-ng-model="user.property" data-ng-required class="editable-input form-control ng-pristine" />
                        </td>
                        <td>
                            <button type="submit" data-ng-hide="editMode" data-ng-click="editMode = true" class="btn btn-primary editable-table-button btn-xs"><i class="fa fa-pencil"></i>Edit</button>
                            <button class="btn btn-danger editable-table-button btn-xs" data-ng-hide="editMode"  ng-click="removeGallery(user.caseID)"><i class="fa fa-trash"></i> Delete</button>
                            <button type="submit" data-ng-show="editMode" data-ng-click="updateGallery(user)" class="btn btn-primary editable-table-button btn-xs">Save</button>
                            <button type="submit" data-ng-show="editMode" data-ng-click="editMode = false" class="btn btn-default editable-table-button btn-xs">Cancel</button>
                        </td>
                    </tr>
            </table>
        </div>
        </div>
      </div>
    </div>
